<div class="page-container">
  <h1>A propos</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi beatae, deserunt eum modi odit praesentium
    quaerat quisquam sed? A cum earum fuga harum. Aperiam distinctio et non pariatur vero. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit.</p>
  <div class="text-center mb-3">
    <img src="assets/about.jpeg" alt="deux personnes avec un casque" class="w-100">
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores autem beatae, ducimus excepturi laborum
    laudantium nihil obcaecati odit placeat, quibusdam quis recusandae similique velit voluptates. Magnam nobis possimus
    quisquam.</p>
  <h2>Title 1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque cumque, dolore dolorum eum
    exercitationem facere fuga, laboriosam nostrum numquam omnis porro quaerat quas sapiente voluptate. Earum reiciendis
    repellat repellendus.</p>
  <h2>Title 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut blanditiis cupiditate dicta dolorum earum eveniet
    id labore laudantium porro possimus repellendus repudiandae rerum, saepe sequi sunt veniam voluptas voluptatem!</p>
  <h2>Title 3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut blanditiis excepturi fugiat id, ipsam,
    necessitatibus nobis officia pariatur repudiandae suscipit tempora, unde veniam. Accusantium beatae earum numquam
    vel voluptates.</p>
</div>

